

/*  Random Button Stuff  */

.btn:link,
.btn:visited {
  border-radius: 100px;
  display: inline-block;
  padding: 15px 40px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
}

.btn::after {
  border-radius: 100px;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}

.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}