/*  Fixed Navigation Buttons  */

.fixed__nav,
.fixed__to-top {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(39, 228, 39, .5);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  outline: none;
  position: fixed;
  right: 15px;
  transition: all .5s ease;
  width: 50px;
  z-index: 2;
}

.fixed__nav {
  align-items: center;
  display: flex;
  opacity: 0;
  padding: 10px 0;
  top: 20px;
}

@media screen and (max-width: 420px) {
  .fixed__nav {
    cursor: pointer;
    opacity: 1;
  }
}

.fixed__to-top {
  align-items: center;
  bottom: 20px;
  display: fixed;
  opacity: 0;
  padding: 15px 0;
}

.fixed__nav:hover,
.fixed__to-top:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.fixed__nav:active,
.fixed__to-top:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.menu-line {
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  background: linear-gradient( to left top, rgb(111, 213, 191), rgb(39, 228, 39));
  background-size: 600% 600%;
  height: 3px;
  margin: 3px auto 3px auto;
  width: 30px;
}

.triangle {
  width: 20px;
}
