

/*  Universal Styes  */



.u-black-text {
  color: #000;
}

.u-green-text {
  color: var(--main-color);
}

.u-flex-x,
.u-flex-y {
  display: -webkit-flex;
  display: flex;
}

.u-flex-x {
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  flex: 1;
  justify-content: space-around;
}

.u-flex-y {
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.u-float-left {
  float: left;
}

.u-float-clear {
  clear: both;
}

.u-full-width {
  width: 100%;
}

.u-opacity {
  opacity: 0.75;
}

.u-opacity-dark {
  opacity: 0.92;
}

.u-opacity-light {
  opacity: 0.45;
}

.u-section__container {
  margin: 0 auto;
  max-width: 1200px;
}

.u-white-text {
  color: #fff;
}
