/*  Fly-In Logo Header  */

.fly-in__heading {
  -webkit-animation: FlyIn .4s ease-in-out .3s;
  animation: FlyIn .4s ease-in-out .3s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  background: linear-gradient( to left top, rgba(111, 213, 191, 0.2), rgba(141, 235, 19, 0.4), rgba(39, 228, 39, 0.2));
  background-size: 400% 400%;
  border-radius: 20px;
  padding: 40px 30px;
  width: 575px;
}

@-webkit-keyframes FlyIn {
  0% {
    -webkit-transform: scale(0) translateY(400px);
    transform: scale(0) translateY(400px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
}

@keyframes FlyIn {
  0% {
    -webkit-transform: scale(0) translateY(400px);
    transform: scale(0) translateY(400px);
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
  }
}

.meltdown-text,
.music-text {
  font-family: 'Bowlby One SC', 'Luckiest Guy', Arial, sans-serif;
  letter-spacing: 3px;
  line-height: .9;
  opacity: .85;
  text-align: center;
}

.meltdown-text {
  font-size: 84px;
}

.music-text {
  font-size: 140px;
}

.records-gear {
  color: var(--main-color);
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-size: 58px;
  letter-spacing: 4px;
  margin-top: 20px;
  opacity: .85;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 560px) {
  .fly-in__heading {
    width: 94%;
  }
  .meltdown-text {
    font-size: 14vw;
  }
  .music-text {
    font-size: 23vw;
  }
  .records-gear {
    font-size: 8vw;
  }
}

@media screen and (max-width: 420px) {
  .records-gear {
    margin-top: 0;
  }
}

/*  Interior Store Image  */

.store-img__mobile-only {
  display: none;
}

.store__copy {
  color: #fff;
  font-family: 'American Typewriter', 'Copse', 'Luckiest Guy', Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-right: 70px;
  opacity: .85;
  text-align: right;
  -webkit-transform: translateY(-114px);
  transform: translateY(-114px);
}

.store__mobile-only {
  display: none;
}

@media screen and (max-width: 788px) {
  .store__copy {
    margin-right: 50px;
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
  }
  .store__desktop-only {
    display: none;
  }
  .store__mobile-only {
    display: inline;
  }
}

@media screen and (max-width: 560px) {
  .store-img__mobile-only {
    display: block;
  }
  .store-img__desktop-only {
    display: none;
  }
  .store__copy {
    font-size: 32px;
    opacity: 1;
    -webkit-transform: translateY(-140px);
    transform: translateY(-140px);
  }
}

@media screen and (max-width: 420px) {
  .store__copy {
    font-size: 7vw;
    margin-right: 20px;
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

/*  Store Hours  */

.section__hours {
  margin: 100px auto 200px;
  text-align: center;
}

.hours__container {
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  background: linear-gradient( to right bottom, rgba(111, 213, 191, 0.2), rgba(141, 235, 19, 0.1), rgba(39, 228, 39, 0.3));
  background-position: top;
  background-size: 400% 400%;
  border-radius: 50%;
  height: 440px;
  width: 440px;
}

.hours__title {
  color: var(--main-color);
  display: block;
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-size: 64px;
}

.hours__copy {
  font-family: 'Copse', 'American Typewriter', monospace;
  font-size: 34px;
  line-height: 2.1;
}

@media screen and (max-width: 560px) {
  .hours__container {
    height: 420px;
    width: 420px;
  }
}

@media screen and (max-width: 420px) {
  .hours__container {
    height: 90vw;
    width: 90vw;
  }
  .hours__title {
    font-size: 14vw;
  }
  .hours__copy {
    font-size: 7vw;
  }
}

/*  Exterior Store Image & Map  */

.map__store-img-box {
  width: 43.35%;
}

.map__img-box {
  width: 56.65%;
}

@media screen and (max-width: 560px) {
  .map__store-img-box {
    width: 100%;
  }
  .map__img-box {
    width: 100%;
  }
}
