/*  Variables  */

:root {
  --main-color: #4EA81E;
}

/*  Universal Styes  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  background: linear-gradient( to left top, rgba(111, 213, 191, 0.4), rgba(141, 235, 19, 0.3), rgba(39, 228, 39, 0.2), rgba(255, 255, 255, 0.1));
  background-size: 600% 600%;
  height: 4000px;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.color-black {
  color: #000;
}

.flex-x,
.flex-y {
  display: -webkit-flex;
  display: flex;
}

.flex-x {
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  flex: 1;
  justify-content: space-around;
}

.flex-y {
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.float-left {
  float: left;
}

.float-clear {
  clear: both;
}

.full-width {
  width: 100%;
}

/*  Fixed Navigation Buttons  */

.fixed__nav,
.fixed__to-top {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(39, 228, 39, .5);
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  outline: none;
  position: fixed;
  right: 15px;
  transition: all .5s ease;
  width: 50px;
  z-index: 2;
}

.fixed__nav {
  align-items: center;
  display: flex;
  opacity: 0;
  padding: 10px 0;
  top: 20px;
}

@media screen and (max-width: 420px) {
  .fixed__nav {
    cursor: pointer;
    opacity: 1;
  }
}

.fixed__to-top {
  align-items: center;
  bottom: 20px;
  display: fixed;
  opacity: 0;
  padding: 15px 0;
}

.fixed__nav:hover,
.fixed__to-top:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.fixed__nav:active,
.fixed__to-top:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.menu-line {
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  background: linear-gradient( to left top, rgb(111, 213, 191), rgb(39, 228, 39));
  background-size: 600% 600%;
  height: 3px;
  margin: 3px auto 3px auto;
  width: 30px;
}

.triangle {
  width: 20px;
}

/*  Header Container  */

.header {
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  background: linear-gradient( to right bottom, rgba(111, 213, 191, 0.2), rgba(141, 235, 19, 0.4), rgba(39, 228, 39, 0.2));
  background-position: top;
  background-size: 400% 400%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  height: 200px;
  padding: 0 10px;
  position: relative;
}

@media screen and (max-width: 560px) {
  .header {
    height: 280px;
  }
}

.header__logo {
  height: 160px;
  margin-top: 18px;
}

@media screen and (max-width: 560px) {
  .header__logo {
    height: 230px;
  }
}

.header__nav {
  margin: 0 auto;
  max-width: 840px;
}

.header__nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: auto;
}

.header__nav li {
  display: inline;
  text-align: center;
}

.header__nav a {
  color: #000;
  font-family: "Luckiest Guy", sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

@media screen and (max-width: 560px) {
  .header__nav a {
    -webkit-box-flex: 1;
    flex: 1;
  }
}

@media screen and (max-width: 420px) {
  .header__nav a {
    display: none;
  }
}

.header__nav a:hover {
  text-decoration: underline;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 560px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

/*  Fly-In Logo Header  */

.fly-in__heading {
  -webkit-animation: FlyIn .4s ease-in-out .3s;
  animation: FlyIn .4s ease-in-out .3s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  background: linear-gradient( to left top, rgba(111, 213, 191, 0.2), rgba(141, 235, 19, 0.4), rgba(39, 228, 39, 0.2));
  background-size: 400% 400%;
  border-radius: 20px;
  padding: 40px 30px;
  -webkit-transform: translateY(60px);
  transform: translateY(60px);
  width: 575px;
}

@media screen and (max-width: 560px) {
  .fly-in__heading {
    width: 94%;
  }
}

@-webkit-keyframes FlyIn {
  0% {
    -webkit-transform: scale(0) translateY(400px);
    transform: scale(0) translateY(400px);
  }
  100% {
    -webkit-transform: scale(1) translateY(60px);
    transform: scale(1) translateY(60px);
  }
}

@keyframes FlyIn {
  0% {
    -webkit-transform: scale(0) translateY(400px);
    transform: scale(0) translateY(400px);
  }
  100% {
    -webkit-transform: scale(1) translateY(60px);
    transform: scale(1) translateY(60px);
  }
}

.meltdown-text,
.music-text {
  font-family: 'Bowlby One SC', 'Luckiest Guy', Arial, sans-serif;
  letter-spacing: 3px;
  line-height: .9;
  opacity: .85;
  text-align: center;
}

.meltdown-text {
  font-size: 84px;
}

@media screen and (max-width: 560px) {
  .meltdown-text {
    font-size: 14vw;
  }
}

.music-text {
  font-size: 140px;
}

@media screen and (max-width: 560px) {
  .music-text {
    font-size: 23vw;
  }
}

.records-gear {
  color: var(--main-color);
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-size: 58px;
  letter-spacing: 4px;
  margin-top: 20px;
  opacity: .85;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 560px) {
  .records-gear {
    font-size: 8vw;
  }
}

/*  Section Container  */

.section__container {
  margin: 0 auto;
  padding: 100px 0;
  width: 100%;
  max-width: 1000;
}

.store__img {
  margin-top: 80px;
  opacity: .75;
  width: 100%;
}

.store__copy {
  color: #fff;
  font-family: 'American Typewriter', 'Copse', 'Luckiest Guy', Arial, sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-right: 70px;
  opacity: .85;
  text-align: right;
  -webkit-transform: translateY(-114px);
  transform: translateY(-114px);
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 788px) {
  .store__copy {
    margin-right: 50px;
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: inline;
  }
}

@media screen and (max-width: 560px) {
  .store__copy {
    font-size: 32px;
    line-height: 1.1;
    opacity: 1;
    -webkit-transform: translateY(-120px);
    transform: translateY(-120px);
  }
}

@media screen and (max-width: 420px) {
  .store__copy {
    font-size: 7vw;
    line-height: 1;
    margin-right: 20px;
    -webkit-transform: translateY(-90px);
    transform: translateY(-90px);
  }
}

.section__hours {
  margin: 100px auto 200px;
  text-align: center;
}

.hours__container {
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  background: linear-gradient( to right bottom, rgba(111, 213, 191, 0.2), rgba(141, 235, 19, 0.1), rgba(39, 228, 39, 0.3));
  background-position: top;
  background-size: 400% 400%;
  border-radius: 50%;
  height: 440px;
  width: 440px;
}

.hours__title {
  color: var(--main-color);
  display: block;
  font-family: 'Luckiest Guy', Arial, sans-serif;
  font-size: 64px;
}

.hours__copy {
  font-family: 'Copse', 'American Typewriter', monospace;
  font-size: 34px;
  line-height: 2.1;
}

.map__container {
  width: 100%;
}

.map__store-img-box {
  opacity: .75;
  width: 43.35%;
}

.map__img-box {
  opacity: .75;
  width: 56.65%;
}

/*  Random Button Stuff  */

.btn:link,
.btn:visited {
  border-radius: 100px;
  display: inline-block;
  padding: 15px 40px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
}

.btn::after {
  border-radius: 100px;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}

.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}