* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  background: linear-gradient(
    to left top,
    rgba(111, 213, 191, 0.1),
    rgba(141, 235, 19, 0.3),
    rgba(39, 228, 39, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  background-size: 600% 600%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fixed__nav,
.fixed__to-top {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(39, 228, 39, .5);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  flex-wrap: wrap;
  height: 50px;
  justify-content: center;
  outline: none;
  position: fixed;
  right: 15px;
  width: 50px;
  z-index: 2;
}

.fixed__nav {
  align-items: center;
  display: none;
  padding: 10px 0;
  top: 20px;
}

@media screen and (max-width: 420px) {
  .fixed__nav {
    display: flex;
  }
}

.fixed__to-top {
  align-items: center;
  display: fixed;
  padding: 15px 0;
  bottom: 20px;
}

.fixed__nav:hover,
.fixed__to-top:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.fixed__nav:active,
.fixed__to-top:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.menu-line {
  -webkit-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
  background: linear-gradient(
    to left top,
    rgb(111, 213, 191),
    rgb(39, 228, 39)
  );
  background-size: 600% 600%;
  height: 3px;
  margin: 3px auto 3px auto;
  width: 30px;
}

.triangle {
  width: 20px;
}

.header {
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  background: linear-gradient(
    to right bottom,
    rgba(111, 213, 191, 0.2),
    rgba(141, 235, 19, 0.4),
    rgba(39, 228, 39, 0.2)
  );
  background-position: top;
  background-size: 400% 400%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  height: 200px;
  padding: 0 10px;
  position: relative;
}

@media screen and (max-width: 560px) {
  .header {
    height: 280px;
  }
}

.header__logo {
  height: 160px;
  margin-top: 18px;
}

@media screen and (max-width: 560px) {
  .header__logo {
    height: 230px;
  }
}

.header__nav {
  margin: 0 auto;
  max-width: 840px;
}

.header__nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: auto;
}

.header__nav li {
  display: inline;
  text-align: center;
}

.header__nav a {
  color: #000;
  font-family: "Luckiest Guy", sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

@media screen and (max-width: 560px) {
  .header__nav a {
    -webkit-box-flex: 1;
    flex: 1;
  }
}

@media screen and (max-width: 420px) {
  .header__nav a {
    display: none;
  }
}

.header__nav a:hover {
  text-decoration: underline;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 560px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

.btn:link,
.btn:visited {
  border-radius: 100px;
  display: inline-block;
  padding: 15px 40px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s;
}

.btn::after {
  border-radius: 100px;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.4s;
  width: 100%;
  z-index: -1;
}

.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.4) scaleY(1.6);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn-white::after {
  background-color: #fff;
}
