/*  Variables  */

:root {
  --main-color: #4ea81e;
  --secondary-color: #75bf43;
  --main-sans-font: "Bowlby One", "Luckiest Guy", "American Typewriter", Arial, sans-serif;
  --secondary-sans-font: "Luckiest Guy", sans-serif;
  --subhead-font: "Copse", "American Typewriter", monospace;
  --type-font: "American Typewriter", "Copse", "Luckiest Guy", Arial, sans-serif;
  --main-copy-font: "Baskerville", Arial, sans-serif;
}

hi mom!