/*  Float Grid  */

.row {
  margin: 0 auto;
  max-width: $grid-width;
  &:not(:last-child) {
    margin-bottom: $gutter-y;
  }
  @include clearfix;
  [class^="col-"] {
    float: left;
    &:not(:last-child) {
      margin-right: $gutter-x;
    }
  }
  .col-1-of-2 {
    width: calc((100% - #{$gutter-x}) / 2);
  }
  .col-1-of-3 {
    width: calc((100% - (#{$gutter-x} * 2)) / 3);
  }
  .col-2-of-3 {
    width: calc(
      2 * ((100% - (#{$gutter-x} * 2)) / 3) + #{$gutter-x}
    );
  }
  .col-1-of-4 {
    width: calc((100% - (#{$gutter-x} * 3)) / 4);
  }
  .col-2-of-4 {
    width: calc(
      2 * ((100% - (#{$gutter-x} * 3)) / 4) + #{$gutter-x}
    );
  }
  .col-3-of-4 {
    width: calc(
      3 * ((100% - (#{$gutter-x} * 3)) / 4) +
        (2 * #{$gutter-x})
    );
  }
}
