/*  Header  */

.header {
  -webkit-animation: GradientAlt 30s ease infinite;
  animation: GradientAlt 30s ease infinite;
  background: linear-gradient(
    to right bottom,
    rgba(111, 213, 191, 0.2),
    rgba(141, 235, 19, 0.4),
    rgba(39, 228, 39, 0.2)
  );
  background-position: top;
  background-size: 400% 400%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
  height: 200px;
  padding: 0 10px;
  position: relative;
  &__nav {
    margin: 0 auto;
    max-width: 840px;
    ul {
      align-items: center;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      width: auto;
      li {
        display: inline;
        text-align: center;
        a {
          color: #000;
          font-family: var(--secondary-sans-font);
          letter-spacing: 1px;
          font-size: 28px;
          text-decoration: none;
          text-transform: uppercase;
          transition: all 0.3s ease;
          svg {
            text-transform: lowercase;
          }
          &:hover {
            color: var(--main-color);
            text-decoration: underline;
          }
        }
      }
    }
    a.header__nav--disabled {
      color: var(--main-color);
      &:hover {
        text-decoration: none;
      }
    }
    &--logo {
      height: 160px;
      margin-top: 18px;
    }
    &--mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    height: 280px;
    &__nav a {
      -webkit-box-flex: 1;
      flex: 1;
    }
    &__nav--logo {
      height: 230px;
    }
    &__nav--desktop {
      display: none;
    }
    &__nav--mobile {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 420px) {
  .header__nav {
    li {
      display: none;
      &:nth-child(3) {
        display: inline;
      }
    }
  }
}
