/*  Photo Selector  */

.composition {
  position: relative;
  &__photo {
    border-radius: 0.2rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    outline-offset: 2rem;
    position: absolute;
    transition: all 0.2s;
    width: 55%;
    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      z-index: 2;
    }
  }
  &:hover &__photo:not(:hover) {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
