/*  Photo Selector  */

.composition {
  position: relative;
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

.composition__photo {
  border-radius: 0.2rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  outline-offset: 2rem;
  position: absolute;
  transition: all 0.2s;
  width: 55%;
  &:hover {
    box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    outline: 1.5rem solid $color-primary;
    transform: scale(1.05);
    z-index: 2;
  }
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

.composition__photo--p2 {
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
