.fixed-nav__toggle {
  display: none;
  &:checked ~ .fixed-nav__fs {
    transform: translateX(0);
  }
}

.fixed-nav__fs {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transform: translateX(1000px);
  transition: all 0.3s ease-in-out;
  width: 100%;
  z-index: 9;
  @media #{$screen-xs} {
    transform: translateX(450px);
  }
}

.fixed-nav__fs--list {
  animation: GradientAlt 5s ease infinite;
  background: linear-gradient(
    to left top,
    rgba(111, 213, 191, 0.65),
    rgba(141, 235, 19, 0.75),
    rgba(39, 228, 39, 0.8)
  );
  background-size: 400% 400%;
  border-radius: 20px;
  left: 50%;
  list-style: none;
  padding: $unit-sm $unit-md $unit-md;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.fixed-nav__fs--list--close {
  cursor: pointer;
  font-family: $font-type;
  font-size: 4.6rem;
  margin: 0 0 0 29rem;
  transition: all 0.3s ease-in-out;
  @media #{$screen-sm} {
    margin-left: 19rem;
  }
  @media #{$screen-height} {
    margin-left: 19rem;
  }
}

.fixed-nav__fs--list--logo {
  height: 14rem;
}

.fixed-nav__fs--list--link {
  &,
  &:link,
  &:visited {
    background: linear-gradient(
      120deg,
      rgba(138, 230, 76, 0) 0%,
      rgba(40, 226, 90, 0) 50%,
      #fff 50%
    );
    background-size: 240%;
    border-radius: 20px;
    font-family: $font-sans-primary;
    color: #fff;
    font-size: 56px;
    letter-spacing: 3px;
    line-height: 1.6;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
    @media #{$screen-sm} {
      font-size: 3.6rem;
    }
    @media #{$screen-height} {
      font-size: 3.6rem;
      line-height: 1.5;
    }
  }
  &:hover,
  &:focus,
  &:active {
    color: $color-primary-light;
    background-position: 100%;
  }
}
