/*  Fly-In Logo Header  */

.fly-in__heading {
  -webkit-animation: FlyIn 0.4s ease-in-out 0.3s;
  animation: FlyIn 0.4s ease-in-out 0.3s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  background: linear-gradient(
    to left top,
    rgba(111, 213, 191, 0.2),
    rgba(141, 235, 19, 0.4),
    rgba(39, 228, 39, 0.2)
  );
  background-size: 400% 400%;
  border-radius: 20px;
  padding: 40px 20px;
  width: 600px;
  @media screen and (max-width: 560px) {
    width: 94%;
  }
  @media screen and (max-width: 420px) {
    background: rgba(0, 0, 0, 0);
    padding: 20px 20px;
  }
  &--text-meltdown,
  &--text-music {
    color: $color-black;
    font-family: $font-sans-primary;
    letter-spacing: 3px;
    line-height: 0.9;
    opacity: .85;
    text-align: center;
    text-transform: uppercase;
  }
  &--text-meltdown {
    font-size: 82px;
    margin-left: 8px;
    @media screen and (max-width: 560px) {
      font-size: 12.6vw;
    }
  }
  &--text-music {
    font-size: 136px;
    @media screen and (max-width: 560px) {
      font-size: 20vw;
    }
  }
  &--text-records-gear {
    color: $color-primary;
    font-family: $font-sans-secondary;
    font-size: 58px;
    letter-spacing: 4px;
    margin-bottom: -24px;
    margin-top: 10px;
    opacity: 0.85;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 560px) {
      font-size: 8vw;
    }
    @media screen and (max-width: 420px) {
      margin-top: 0;
    }
  }
}
