@keyframes FlyIn {
  0% {
    transform: scale(0) translateY(400px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 75%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes GradientAlt {
  0% {
    background-position: 100% 275%;
  }
  50% {
    background-position: 0 50%;
  }
  100% {
    background-position: 300% 175%;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
