*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
}
