/*  Flex-Box  */

.u-flex,
.u-flex-center,
.u-flex-x {
  display: -webkit-flex;
  display: flex;
}

.u-flex-center {
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.u-flex-x {
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  flex: 1;
  justify-content: space-around;
}

/*  Floats  */

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

/*  Full Width  */

.u-full-width {
  width: 100%;
}

/*  Margins  */

/*  Auto Center : Margins  */

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/*  Bottom : Margins  */

.u-mb-0,
.u-my-0,
.u-mg-0 {
  margin-bottom: 0;
}

.u-mb-xs,
.u-my-xs,
.u-mg-xs {
  margin-bottom: $unit-xs;
}

.u-mb-sm,
.u-my-sm,
.u-mg-sm {
  margin-bottom: $unit-sm;
}

.u-mb-md,
.u-my-md,
.u-mg-md {
  margin-bottom: $unit-md;
}

.u-mb-lg,
.u-my-lg,
.u-mg-lg {
  margin-bottom: $unit-lg;
}

.u-mb-xl,
.u-my-xl,
.u-mg-xl {
  margin-bottom: $unit-xl;
}

/*  Left : Margins  */

.u-ml-0,
.u-mx-0,
.u-mg-0 {
  margin-left: 0;
}

.u-ml-xs,
.u-mx-xs,
.u-mg-xs {
  margin-left: $unit-xs;
}

.u-ml-sm,
.u-mx-sm,
.u-mg-sm {
  margin-left: $unit-sm;
}

.u-ml-md,
.u-mx-md,
.u-mg-md {
  margin-left: $unit-md;
}

.u-ml-lg,
.u-mx-lg,
.u-mg-lg {
  margin-left: $unit-lg;
}

.u-ml-xl,
.u-mx-xl,
.u-mg-xl {
  margin-left: $unit-xl;
}

/*  Right : Margins  */

.u-mr-0,
.u-mx-0,
.u-mg-0 {
  margin-right: 0;
}

.u-mr-xs,
.u-mx-xs,
.u-mg-xs {
  margin-right: $unit-xs;
}

.u-mr-sm,
.u-mx-sm,
.u-mg-sm {
  margin-right: $unit-sm;
}

.u-mr-md,
.u-mx-md,
.u-mg-md {
  margin-right: $unit-md;
}

.u-mr-lg,
.u-mx-lg,
.u-mg-lg {
  margin-right: $unit-lg;
}

.u-mr-xl,
.u-mx-xl,
.u-mg-xl {
  margin-right: $unit-xl;
}

/*  Top : Margins  */

.u-mt-0,
.u-my-0,
.u-mg-0 {
  margin-top: 0;
}

.u-mt-xs,
.u-my-xs,
.u-mg-xs {
  margin-top: $unit-xs;
}

.u-mt-sm,
.u-my-sm,
.u-mg-sm {
  margin-top: $unit-sm;
}

.u-mt-md,
.u-my-md,
.u-mg-md {
  margin-top: $unit-md;
}

.u-mt-lg,
.u-my-lg,
.u-mg-lg {
  margin-top: $unit-lg;
}

.u-mt-xl,
.u-my-xl,
.u-mg-xl {
  margin-top: $unit-xl;
}

/*  Opacity  */

.u-opacity {
  opacity: 0.75;
}

.u-opacity-dark {
  opacity: 0.92;
}

.u-opacity-light {
  opacity: 0.45;
}

/*  Padding  */

/*  Bottom : Padding  */

.u-pb-xs,
.u-py-xs,
.u-pd-xs {
  padding-bottom: $unit-xs;
}

.u-pb-sm,
.u-py-sm,
.u-pd-sm {
  padding-bottom: $unit-sm;
}

.u-pb-md,
.u-py-md,
.u-pd-md {
  padding-bottom: $unit-md;
}

.u-pb-lg,
.u-py-lg,
.u-pd-lg {
  padding-bottom: $unit-lg;
}

.u-pb-xl,
.u-py-xl,
.u-pd-xl {
  padding-bottom: $unit-xl;
}

/*  Left : Padding  */

.u-pl-xs,
.u-px-xs,
.u-pd-xs {
  padding-left: $unit-xs;
}

.u-pl-sm,
.u-px-sm,
.u-pd-sm {
  padding-left: $unit-sm;
}

.u-pl-md,
.u-px-md,
.u-pd-md {
  padding-left: $unit-md;
}

.u-pl-lg,
.u-px-lg,
.u-pd-lg {
  padding-left: $unit-lg;
}

.u-pl-xl,
.u-px-xl,
.u-pd-xl {
  padding-left: $unit-xl;
}

/*  Right : Padding  */

.u-pr-xs,
.u-px-xs,
.u-pd-xs {
  padding-right: $unit-xs;
}

.u-pr-sm,
.u-px-sm,
.u-pd-sm {
  padding-right: $unit-sm;
}

.u-pr-md,
.u-px-md,
.u-pd-md {
  padding-right: $unit-md;
}

.u-pr-lg,
.u-px-lg,
.u-pd-lg {
  padding-right: $unit-lg;
}

.u-pr-xl,
.u-px-xl,
.u-pd-xl {
  padding-right: $unit-xl;
}

/*  Top : Padding  */

.u-pt-xs,
.u-py-xs,
.u-pd-xs {
  padding-top: $unit-xs;
}

.u-pt-sm,
.u-py-sm,
.u-pd-sm {
  padding-top: $unit-sm;
}

.u-pt-md,
.u-py-md,
.u-pd-md {
  padding-top: $unit-md;
}

.u-pt-lg,
.u-py-lg,
.u-pd-lg {
  padding-top: $unit-lg;
}

.u-pt-xl,
.u-py-xl,
.u-pd-xl {
  padding-top: $unit-xl;
}

/*  Section Container  */

.u-section-container {
  margin: 0 auto;
  max-width: 1200px;
}

/*  Text Alignment  */

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

/*  Text Color  */

.u-text-black {
  color: $color-black;
}

.u-text-green {
  color: $color-primary-test;
}

.u-text-white {
  color: $color-white;
}
