/*  Flex-Box  */

.u-flex,
.u-flex-center,
.u-flex-x,
.u-flex-y {
  display: flex;
}

.u-flex-center {
  align-items: center;
  justify-content: center;
}

.u-flex-x {
  align-items: center;
  flex: 1;
  justify-content: space-around;
}

.u-flex-y {
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

/*  Floats  */

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}

/*  Full Width  */

.u-full-width {
  width: 100%;
}

/*  Auto Center : Margins  */

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/*  Opacity  */

.u-opacity {
  opacity: 0.75;
}

.u-opacity-dark {
  opacity: 0.92;
}

.u-opacity-light {
  opacity: 0.45;
}

/*  Section Container  */

.u-section-container {
  margin: 0 auto;
  max-width: 1200px;
}

/*  Text Alignment  */

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

/*  Text Color  */

.u-text-black {
  color: $color-black;
}

.u-text-green {
  color: $color-primary;
}

.u-text-white {
  color: $color-white;
}
